.partnerInformBlock{
    width: 40%;
    margin-left: 215px;

    max-width: 469px;
    margin-right: 75px;
}
.partnerList{
    margin-top: 68px;
    font-size: 12px;
    font-weight: bold;
    color: #26272d;
    margin-top: 68px;
    margin-bottom: 31px;
}
.partnerLogoWrapper{
    display: flex;
    justify-content: space-between;
    width: 300px;

}
.mapBlock {
    height: 496px;

    width: 60%;
}

.mapBlock {
    background-image: url(../../img/worldMap.png);
}
.partnerWrapper{
    display: flex;
    padding-bottom: 100px;
    margin-top: 90px;
}